In [3]:
#import necessary packages
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import tree

from sklearn.svm import LinearSVC
from sklearn.svm import SVC
import time

In [4]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
trlabels = pd.read_csv("train_labels.csv")

sample = pd.read_csv("sample_submission.csv")

# Data Visualization

In [23]:
trlabels.head()

                    IDQ  correct Question         session_id
0  20090312431273200_q1        1       q1  20090312431273200
1  20090312433251036_q1        0       q1  20090312433251036
2  20090312455206810_q1        1       q1  20090312455206810
3  20090313091715820_q1        0       q1  20090313091715820
4  20090313571836404_q1        1       q1  20090313571836404

In [5]:
trlabels.rename({'session_id': 'IDQ', 'correct': 'correct'}, axis=1, inplace=True)

In [6]:
trlabels['Question'] = np.nan
trlabels['session_id'] = np.nan
for i in range(0, len(trlabels)):
    trlabels.at[i,'Question'] = trlabels['IDQ'].iloc[i][-2: ]
    trlabels.at[i,'session_id'] = trlabels['IDQ'].iloc[i][: trlabels['IDQ'].iloc[i].index('_')] #trlabels['IDQ'].iloc[i].index('_')
        
trlabels['Question'] = trlabels['Question'].replace('10', 'q10')
trlabels['Question'] = trlabels['Question'].replace('11', 'q11')
trlabels['Question'] = trlabels['Question'].replace('12', 'q12')
trlabels['Question'] = trlabels['Question'].replace('13', 'q13')
trlabels['Question'] = trlabels['Question'].replace('14', 'q14')
trlabels['Question'] = trlabels['Question'].replace('15', 'q15')
trlabels['Question'] = trlabels['Question'].replace('16', 'q16')
trlabels['Question'] = trlabels['Question'].replace('17', 'q17')
trlabels['Question'] = trlabels['Question'].replace('18', 'q18')

In [7]:
print(trlabels['session_id'].values)
print(trlabels['Question'].values)

# print(trlabels['IDQ'].iloc[i].index('_'))
#separate session ids into question groups (1-18)
#merge train w/ train_labels to get correct column

['20090312431273200' '20090312433251036' '20090312455206810' ...
 '22100217104993650' '22100219442786200' '22100221145014656']
['q1' 'q1' 'q1' ... 'q18' 'q18' 'q18']

In [ ]:
#merge trlabels and train to get Y (correct) and then predict

In [ ]:
print(trlabels.at[0,'S_id'])

In [22]:
print(len(train))

26296946

In [71]:
print(np.unique(sample['session_level']))

[0 1 2]

In [88]:
print(trlabels.groupby('Question').get_group('q1'))

                 session_id  correct Question               S_id
0      20090312431273200_q1        1       q1  20090312431273200
1      20090312433251036_q1        0       q1  20090312433251036
2      20090312455206810_q1        1       q1  20090312455206810
3      20090313091715820_q1        0       q1  20090313091715820
4      20090313571836404_q1        1       q1  20090313571836404
...                     ...      ...      ...                ...
23557  22100215342220508_q1        1       q1  22100215342220508
23558  22100215460321130_q1        0       q1  22100215460321130
23559  22100217104993650_q1        1       q1  22100217104993650
23560  22100219442786200_q1        0       q1  22100219442786200
23561  22100221145014656_q1        0       q1  22100221145014656

[23562 rows x 4 columns]

In [91]:
for i in range(1, 19):
    trlabels.groupby('Question').get_group('q' + str(i))

In [8]:
group1 = trlabels.groupby('Question').get_group('q1')

IDs = trlabels.groupby('Question').get_group('q1')['session_id']

In [9]:
g1 = train[~train['session_id'].isin(IDs)]

23562

In [ ]:
t = g1.groupby('level_group').get_group('0-4')
# print(len(g1['session_id']))

# print(len(group1))

In [21]:
print(t)

                 session_id  index  elapsed_time      event_name       name  \
0         20090312431273200      0             0  cutscene_click      basic
1         20090312431273200      1          1323    person_click      basic
2         20090312431273200      2           831    person_click      basic
3         20090312431273200      3          1147    person_click      basic
4         20090312431273200      4          1863    person_click      basic
...                     ...    ...           ...             ...        ...
26295605  22100221145014656    206        352635  navigate_click  undefined
26295606  22100221145014656    207        353336       map_hover      basic
26295607  22100221145014656    208        354020       map_click  undefined
26295608  22100221145014656    209        356238  navigate_click  undefined
26295609  22100221145014656    210        435055      checkpoint      basic

          level  page  room_coor_x  room_coor_y  screen_coor_x  screen_coor_y  \
0             0   NaN  -413.991405  -159.314686          380.0          494.0
1             0   NaN  -413.991405  -159.314686          380.0          494.0
2             0   NaN  -413.991405  -159.314686          380.0          494.0
3             0   NaN  -413.991405  -159.314686          380.0          494.0
4             0   NaN  -412.991405  -159.314686          381.0          494.0
...         ...   ...          ...          ...            ...            ...
26295605      4   NaN  -914.204218   -50.000000           26.0          380.0
26295606      4   NaN          NaN          NaN            NaN            NaN
26295607      4   NaN  -549.217711    -2.000000          449.0          332.0
26295608      4   NaN   313.584260   107.913147          463.0          226.0
26295609      4   NaN          NaN          NaN            NaN            NaN

          hover_duration                           text              fqid  \
0                    NaN                      undefined             intro
1                    NaN  Whatcha doing over there, Jo?            gramps
2                    NaN         Just talking to Teddy.            gramps
3                    NaN     I gotta run to my meeting!            gramps
4                    NaN            Can I come, Gramps?            gramps
...                  ...                            ...               ...
26295605             NaN                            NaN           toentry
26295606            84.0                            NaN  tunic.kohlcenter
26295607             NaN                            NaN   tunic.capitol_0
26295608             NaN                            NaN      chap1_finale
26295609             NaN                            NaN    chap1_finale_c

                               room_fqid  \
0         tunic.historicalsociety.closet
1         tunic.historicalsociety.closet
2         tunic.historicalsociety.closet
3         tunic.historicalsociety.closet
4         tunic.historicalsociety.closet
...                                  ...
26295605     tunic.kohlcenter.halloffame
26295606     tunic.kohlcenter.halloffame
26295607     tunic.kohlcenter.halloffame
26295608            tunic.capitol_0.hall
26295609            tunic.capitol_0.hall

                                                  text_fqid  fullscreen  hq  \
0                      tunic.historicalsociety.closet.intro           0   0
1         tunic.historicalsociety.closet.gramps.intro_0_...           0   0
2         tunic.historicalsociety.closet.gramps.intro_0_...           0   0
3         tunic.historicalsociety.closet.gramps.intro_0_...           0   0
4         tunic.historicalsociety.closet.gramps.intro_0_...           0   0
...                                                     ...         ...  ..
26295605                                                NaN           0   0
26295606                                                NaN           0   0
26295607                                                NaN           0   0
26295608                                                NaN           0   0
26295609                                                NaN           0   0

          music level_group
0             1         0-4
1             1         0-4
2             1         0-4
3             1         0-4
4             1         0-4
...         ...         ...
26295605      1         0-4
26295606      1         0-4
26295607      1         0-4
26295608      1         0-4
26295609      1         0-4

[3981005 rows x 20 columns]

In [172]:
#create train and test data 
X = g1
Y = group1
print(len(X))
print(len(Y))
# train_x, test_x, train_y, test_y = train_test_split(X, Y, test_size=0.4, random_state = 213)

26296946
23562

In [38]:
#construct models
#print(X)
reg = LinearRegression().fit(train_x, (train_y))

In [40]:
#train model on test 
Xtest = test[['session_id', 'music']]

print(np.unique(reg.predict(Xtest)))

[12.23526119 12.2352612  12.23526876]

In [ ]:
#dummy variables